@import url('../../node_modules/normalize.css/normalize.css');
@import url('./main.css');

@font-face {
	font-family: 'magic_cards_cyrillicregular';
	src: url('../fonts/mc_rus-webfont.eot');
	src: url('../fonts/mc_rus-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/mc_rus-webfont.woff') format('woff'),
	url('../fonts/mc_rus-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: magic_cards_cyrillicregular, Georgia, sans-serif;
	letter-spacing: 1px;
	text-shadow: 1px 1px black;
	color: #ffc;
	background: #000;
}

body a {
	color: #ffc;
	text-decoration: none;
}

#downloads .icon:hover + a,
body a:hover {
	color: #ffa034;
}

#downloads .icon:active + a,
body a:active {
	color: #a76821;
}

p {
	font-size: 1.3em;
	text-indent: 1em;
	line-height: 1.4em;
}

p:first-letter {
	font-size: 2em;
	color: #ff0005;
}

h1 {
	text-align: center;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

article {
	height: 100vh;
	position: relative;
	/*border-bottom: #000000 1px dashed;*/
}

article .logo {
	position: relative;
	text-align: center;
	padding-top: 5%;
}

article .logo img {
	width: 60vw;
	max-width: 768px;
}

article .content {
	position: relative;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	top: 10vh;
	margin: 0 10%;
	padding: 10px 35px;
	box-sizing: border-box;
}

.bg {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-repeat: no-repeat;
	background-position: 50% bottom;
	background-size: cover;
	background-attachment: scroll;
	z-index: 0;
}

article:nth-of-type(1) > .bg {
	background-image: url('../img/header.png');
}

/**
 * Carousel
 */

#characters > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#characters ul > li {
	margin: 0;
	padding: 0;
}

#characters ul > li > .bg:nth-of-type(1) {
	background-size: cover;
}

#characters ul > li > .bg:nth-of-type(2) {
	position: absolute;
}

#characters ul > li:nth-child(1) > .bg:nth-of-type(1) {
	background-image: url('../img/characters/sil%20background.png');
}
#characters ul > li:nth-child(1) > .bg:nth-of-type(2) {
	background-image: url('../img/characters/sil%20sprite.png');
}
#characters ul > li:nth-child(2) > .bg:nth-of-type(1) {
	background-image: url('../img/characters/anga%20background.png');
}
#characters ul > li:nth-child(2) > .bg:nth-of-type(2) {
	background-image: url('../img/characters/anga%20sprite.png');
}
#characters ul > li:nth-child(3) > .bg:nth-of-type(1) {
	background-image: url('../img/characters/rihard%20background.png');
}
#characters ul > li:nth-child(3) > .bg:nth-of-type(2) {
	background-image: url('../img/characters/rihard%20sprite.png');
}
#characters ul > li:nth-child(4) > .bg:nth-of-type(1) {
	background-image: url('../img/characters/waiger%20background.png');
}
#characters ul > li:nth-child(4) > .bg:nth-of-type(2) {
	background-image: url('../img/characters/waiger%20sprite.png');
}

#characters .next,
#characters .prev {
	width: 56px;
	height: 56px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-top: -28px;
	z-index: 9999;
	cursor: pointer;
}

#characters .prev {
	margin-left: -60px;
	background: url(../img/icons/cleft.png) 0 0 no-repeat;
}

#characters .next {
	margin-right: -60px;
	background: url(../img/icons/cright.png) 0 0 no-repeat;
}

#characters {
	position: relative;
	min-height: 20px;
	height: 100vh !important;
	/*background: url(/loader.gif) center center no-repeat;*/
}

#characters > ul > li > .bg {
	height: 100vh;
	position: relative;
	background-repeat: no-repeat, no-repeat;
	background-position: 50% bottom, 50% top;
	background-size: auto, cover;
	background-attachment: scroll;
}

@keyframes char-move {
	from {
		transform: translateX(50%);
	}
	to {
		transform: translateX(0);
	}
}

.animation-char-start {
	animation-name: char-move;
	animation-duration: 0.8s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

@keyframes content-move {
	from {
		transform: translateX(-50%);
	}
	to {
		transform: translateX(0);
	}
}

.animation-content-start {
	animation-name: content-move;
	animation-duration: 0.8s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

/*
#characters .paging {
	position: absolute;
	z-index: 9998;
}

#characters .paging > a {
	display: block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	float: left;
	background: url(../js/vendor/anoslide/images/dots.png) 0 -40px no-repeat;
}

#characters .paging > a:hover,
#characters .paging > a.current {
	background: url(../js/vendor/anoslide/images/dots.png) 0 0 no-repeat;
}
*/
#characters ul {
	overflow: hidden;
	white-space: nowrap;
}

#characters li {
	display: inline-block;
	white-space: normal;
	position: relative;
}

#characters li .bg {
	width: 100vw;
}

/**
 * End Carousel
 */

/**
 * Navigation
 */

/*.no-js #cd-vertical-nav {
	display:none;
}*/

/* No Touch devices */
.cd-nav-trigger {
	display: none;
}

.no-js #cd-vertical-nav,
.no-touch #cd-vertical-nav {
	position: fixed;
	right: 40px;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 100;
}
.no-js    #cd-vertical-nav li,
.no-touch #cd-vertical-nav li {
	text-align: right;
}
.no-js    #cd-vertical-nav a,
.no-touch #cd-vertical-nav a {
	display: inline-block;
	/* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.no-js    #cd-vertical-nav a:after,
.no-touch #cd-vertical-nav a:after {
	content: "";
	display: table;
	clear: both;
}
.no-js    #cd-vertical-nav a span,
.no-touch #cd-vertical-nav a span {
	display: inline-block;
	float: right;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
}
.no-js    #cd-vertical-nav a:hover span,
.no-touch #cd-vertical-nav a:hover span {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.no-js    #cd-vertical-nav a:hover .cd-label,
.no-touch #cd-vertical-nav a:hover .cd-label {
	opacity: 1;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
	background-color: white;
}
.no-js    #cd-vertical-nav .cd-dot,
.no-touch #cd-vertical-nav .cd-dot {
	position: relative;
	top: 8px;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #d88683;
	-webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
	-moz-transition: -moz-transform 0.2s, background-color 0.5s;
	transition: transform 0.2s, background-color 0.5s;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.no-js    #cd-vertical-nav .cd-label,
.no-touch #cd-vertical-nav .cd-label {
	position: relative;
	margin-right: 10px;
	padding: .4em .5em;
	color: white;
	font-size: 14px;
	font-size: 0.875rem;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	opacity: 0;
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

/* Touch devices */
.touch .cd-nav-trigger {
	display: block;
	z-index: 200;
	position: fixed;
	bottom: 30px;
	right: 5%;
	height: 44px;
	width: 44px;
	border-radius: 0.25em;
	background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: #3e3947;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	background-color: inherit;
	border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
	top: -9px;
}
.touch .cd-nav-trigger span::after {
	bottom: -9px;
}

.touch #cd-vertical-nav {
	position: fixed;
	z-index: 100;
	right: 5%;
	bottom: 30px;
	width: 90%;
	max-width: 400px;
	max-height: 90%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform-origin: right bottom;
	-moz-transform-origin: right bottom;
	-ms-transform-origin: right bottom;
	-o-transform-origin: right bottom;
	transform-origin: right bottom;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	border-radius: 0.25em;
	background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
	display: block;
	padding: 1em;
	border-bottom: 1px solid rgba(62, 57, 71, 0.1);
	color: #2d2d2d;
	text-shadow: none;
}
.touch #cd-vertical-nav a span:first-child {
	display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
	color: #d88683;
}
.touch #cd-vertical-nav.open {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
	background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
	background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
	background-color: #3e3947;
	height: 3px;
	width: 20px;
	border-radius: 0;
	left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
	border-bottom: none;
}

@media only screen and (min-width: 768px) {
	.touch .cd-nav-trigger, .touch #cd-vertical-nav {
		bottom: 40px;
	}
}

/**
 *
 */

nav.menu {
	position: relative;
}

nav.menu ul {
	width: 100%;
	text-align: center;
}

nav.menu li {
	display: inline-block;
}

nav.menu li a {
	display: block;
	padding: 4px;
	margin: 0 10px;
	font-size: 2em;
}

footer {
	position: relative;
	height: 300px;
	background: url('../img/footer.jpg') no-repeat left top;
	border-top: 1px transparent solid;
	padding: 10px 40px;
	z-index: 5;
}

footer .content {
	width: 40%;
	float: right;
	margin-right: 4%;
}

footer .logo-ignis-sanat {
	background: url('../img/ignis-sanat.png') no-repeat;
	height: 100px;
	width: 300px;
}

#characters {
	z-index: 10;
}

#downloads .bg {
	background-image: url('../img/downloads.jpg');
	background-position: 50% 80%;
	background-size: auto;
}
/*
#downloads > img {
	width: 100%;
	position: absolute;
}
*/
#downloads {
	height: 900px;
	z-index: 1;
	position: relative;
}

#downloads .content {
	max-width: 620px;
	margin: 0 auto;
}

#downloads .content .links {
	text-align: center;
	width: 60%;
}

#downloads .content .misc {
	text-align: center;
	width: 36%;
}

#downloads .content img {
	max-width: 100%;
	margin: 10px 0;
}

#downloads ul {
	text-align: center;
}

#downloads li {
	display: inline-block;
	width: 49%;
	text-align: center;
	vertical-align: text-top;
	margin-bottom: 15px;
}

#downloads .icon {
	display: block;
	width: 100%;
	height: 128px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-bottom: 10px;
}

#downloads .icon.windows {
	background-image: url('../img/icons/windows.png');
}

#downloads .icon.linux {
	background-image: url('../img/icons/linux.png');
}

#downloads .icon.android {
	background-image: url('../img/icons/android.png');
}

#downloads .icon.mac {
	background-image: url('../img/icons/mac.png');
}

#characters .content {
	position: absolute;
	width: 50vw;
	top: 30vh;
}

#header .bg {
	background-position: 50% 50%;
}

#brief {
	height: 1400px;
}

#brief a[name] {
	bottom: 100vh;
	position: absolute;
}

#brief .content {
	top: 820px;
	margin: 0 auto;
	max-width: 720px;
}

#brief .bg:nth-of-type(1) {
	background-image: url('../img/layers/1/back.jpg');
}

#brief .bg:nth-of-type(2) {
	background-image: url('../img/layers/1/middle.png');
}

#brief .bg:nth-of-type(3) {
	background-image: url('../img/layers/1/front.png');
	background-size: auto;
}

#donate {
	height: 720px;
	z-index: 5;
}

#donate .content {
	max-width: 396px;
	margin: 0 auto;
}

#donate .bg {
	background-image: url('../img/8.jpg');
	background-position: center top;
	background-attachment: fixed;
}

#donate input,
#donate textarea {
	background: #2F2C31;
	border: #4C4C3D 1px solid;
	padding: 6px;
}

#donate textarea {
	width: 100%;
}

#donate form {
	padding: 10px 20px;
}

#donate form div {
	padding: 6px 0;
}

#donate input[type=radio] {
	display:none;
}

#donate input[type=radio] + label {
	border: #4C4C3D 1px solid;
	padding: 4px 6px;
	height:19px;
	display:inline-block;
	line-height:19px;
	background: #ffc;
	font-size:19px;
	vertical-align:middle;
	cursor:pointer;
}

#donate input[type=radio] + label:nth-of-type(1) {
	border-radius: 3px 0 0 3px;
	border-right-width: 0;
}

#donate input[type=radio] + label:nth-of-type(2) {
	border-radius: 0 3px 3px 0;
	border-left-width: 0;
}

#donate input[type=radio]:checked + label {
	background: #ffd3c5;
	box-shadow: inset 0 0 4px #6C0000;
}

#donate input[type=submit] {
	cursor: pointer;
}

#donate input[type=submit]:hover {
	background: #58555a;
}

#donate label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/********** Media Queries *****************************************************/

@media all and (min-width: 100em) {
	body {
		font-size: .95em;
	}
}

@media all and (max-width: 800px) {
	#brief p {
		font-size: 1.1em;
	}
}
@media all and (max-width: 900px) and (max-height: 600px) {
	#brief .content {
		top: 945px;
	}
}

@media all and (min-width: 650px) and (max-width: 800px) {

	#characters .content {
		bottom: 12vh;
		top: auto;
	}

	footer {
		background-position: 11% top;
	}

	footer .content {
		width: 48%;
		margin-right: 0;
		background: rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		padding: 10px;
	}

	footer p {
		font-size: 1em;
	}
}

@media all and (min-width: 650px) and (max-width: 800px) and (max-height: 720px) {
	#characters .bg {
		background-position: 89% 8%, 50% 0;
	}
	p {
		font-size: 1em;
	}

	h1 {
		font-size: 1.4em;
		margin: 0.4em 0;
	}

	#characters .content {
		width: 75vw;
		bottom: 12vh;
		margin: 0 6%;
		top: auto;
		padding: 0 26px;
	}
}


@media all and (max-width: 650px) {
	article .logo img {
		width: 75vw;
	}

	p {
		font-size: 1em;
	}

	h1 {
		font-size: 1.4em;
	}

	article .content {
		margin: 0 3%;
	}

	#characters .content {
		width: 75vw;
		bottom: 12vh;
		top: auto;
		margin: 0 6%;
		padding: 0 28px;
	}

	#characters .bg {
		background-position: 89% bottom, 50% top;
	}

	#downloads .content .links {
		width: 100%;
	}

	#downloads .content .misc {
		display: none;
	}

	footer .content {
		float: none;
		width: auto;
	}
}

@media all and (min-width: 450px) and (max-width: 690px) {
	#brief .content {
		top: 855px;
	}
}

@media all and (min-width: 410px) and (max-width: 650px) {
	#downloads .content .links {
		width: 330px;
		margin: 0 auto;
		float: none;
	}
}

@media all and (min-width: 400px) and (max-width: 440px) {
	#brief .content {
		top: 710px;
	}
}

@media all and (max-width: 400px) {
	article .content {
		padding: 10px 8px;
	}

	article .logo img {
		width: 90vw;
	}

	#characters .content {
		width: 92vw;
		padding: 0 15px;
		margin: 0 1%;
	}
}

@media all and (min-width: 360px) and (max-width: 390px) {
	#brief .content {
		top: 765px;
	}
}

@media all and (max-width: 320px) {
	nav.menu li a {
		font-size: 1em;
	}

	#donate form {
		padding: 10px 7px;
	}

	#brief p,
	p {
		font-size: .7em;
	}

	#downloads li {
		width: auto;
	}

	footer {
		padding: 5px 10px;
	}
}
